:root {
  --offline: linear-gradient( to bottom, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
  --online: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
  --in-game: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
}

@font-face {
  font-family: 'Fira-sans';
  src: url('../../public/fonts/FiraSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-family: 'Fira-sans', sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6666666667);
}

::selection{
  background-color: #d95b43;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: white;
}

::-moz-selection{
  background-color: #d95b43;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: white;
}

body{
  margin-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

img.offline{
  background: var(--offline);
}

img.online{
  background: var(--online);
}

img.in-game{
  background: var(--in-game);
}

.mouseLeaved > section{
  transition: 30s ease-in;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
